/***************************************

.            GLOBAL STYLING  

****************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body{
    margin: 0;
    background-color: #817f7f4f;
}

html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/***************************************

.             NAV STYLING  

****************************************/

/* Header Styling */
header {
    background: #817f7f;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Container inside the header */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: -300px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    transition: background 0.3s ease;
}

/* On hover, change background color */
nav ul li a:hover {
    background: rgba(255, 255, 255, 0.226);
    border-radius: 10px;
    /* Add rounded corners to links */
}

/* Increase Spacing between Header Title and Navigation */
header h1 {
    margin: 0;
    font-size: 30px;
    line-height: 1.2;
    margin-left: -300px;
    color: rgb(245, 139, 0);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 1%;
}

/***************************************

.          CONTAINER STYLING  

****************************************/

.container {
    max-width: 1200px;
    /* Limit the maximum width */
    margin: 0 auto;
    /* Center the container */
    padding: 0 15px;
    /* Padding on the sides */
}

.container {
    width: 80%;
    margin: 0 auto;
}

#gallery h1{
    font-size: 30px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.329);
    padding: 5%;
}

/***************************************

.      GLOBAL STYLING FOR SECTIONS  

****************************************/

section {
    height: 100vh; /* Full page height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Optional for centering text */
}

/***************************************

.          GALLEY SLIDER SECTION  

****************************************/

.slider {
    position: relative;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/***************************************

.             ARROW STYLING  

****************************************/

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 13px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/***************************************

.            CONTACT FORM  

****************************************/

.contact-form{
    width: 750px;
    height: 520px;
    background: #817f7f;
    border-radius: 8px;
    box-shadow: 0 70px 40px #00000048;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.contact-form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #ffffff;
    border-bottom: 3px solid #cecece
}

.contact-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #cecece;
    margin: 20px 0 0;
}

.contact-form input:focus {
    border-bottom: 2px solid #cecece
}

.contact-form p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
}

.contact-form button {
    float: right;
    margin: 10px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #cecece;
    background: 0;
    color: #cecece;
    cursor: pointer;
    transition: all .3s
}

.contact-form button:hover {
    background: rgb(245, 139, 0);
    color: #fff
}

.contact-form div {
    content: 'Hi';
    position: absolute;
    bottom: -25px;
    right: -25px;
    background: rgb(245, 139, 0);
    color: #fff;
    width: 500px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 15px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 70px 40px #00000048
}

.contact-form span {
    margin: 0 5px 0 15px
}

.contact-form input{
    color: #ffffff;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.753); 
    opacity: 1; 
}

/***************************************

.             FOOTER SECTION  

****************************************/

footer {
    background: #817f7f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

/***************************************

.             SLIDER SECTION  

****************************************/

.slider {
    position: relative;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 10px;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Arrow Styles */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    left: -60px;
}

.next {
    right: -60px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



/***************************************

.                 CSS  

****************************************/
button {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

button:hover {
    transform: translateY(-1px);
}

hr {
    width: 75%;             /* Set the width of the line */
    height: 5px;           /* Set the thickness of the line */
    background-color: #817f7f6c; /* Set the color of the line */
    border: none;          /* Remove the default border */
    border-radius: 5px;    /* Optional: rounded corners */
    margin: 20px auto;     /* Center the line and add vertical space */
}

ul i {
    padding-right: 10px;
}



/***************************************

.                REVIEWS  

****************************************/



.snip1533 {
  box-shadow: 0 70px 40px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #000000;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #000000;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}


/* Demo purposes only */